.footer--container {
  background-color: #5b5b5b;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 210px;
}
.footer--align-text {
  display: flex;
  transform: translateY(50%);
}
.footer--btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
}
