.Tickets--container {
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  width: 95%;
  border-radius: 15px;
  text-align: center;
  margin: 50px auto;
}
.Tickets--content {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.Tickets--cards {
  background-color: #0ab04a;
  border-radius: 10px;
  width: 180px;
  height: 62px;
  cursor: pointer;
  text-align: center;
}
.Tickets--cards-active {
  background-color: #058a38;
  border-radius: 10px;
  width: 180px;
  height: 62px;
  cursor: pointer;
  text-align: center;
}
.Tickets--Info-container {
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;

  p {
    text-align: start;
  }

  h3 {
    color: red;
  }
}
