.aboutus--title {
  text-align: center;
}
.aboutus--container {
  background-color: white;
  border-radius: 15px;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding-top: 28px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
