.homepage {
  width: 100%;

  &__banner {
    height: 600px;

    &-logo {
      background-image: url('../../assets/images/Logo_TPL.PNG');
      width: 400px;
      height: 200px;
      background-repeat: no-repeat;
      margin: auto;
      background-position: center;
      position: relative;
      border-radius: 200px;
      background-size: cover;
      border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
      bottom: 424px;
    }

    &-button {
      position: relative;
      bottom: 340px;
      width: 100px;
      text-align: center;
      margin: 0 auto;
      padding: 30px 40px;
      background-color: #8001ff;
      border-radius: 30px;
      color: white;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 1px;
      cursor: pointer;
      box-shadow: 0px 0px 21px 10px rgb(255 255 255 / 53%);

      &:active {
        background-color: #5c00b8;
      }
    }

    img {
      height: 500px;
      width: 100%;
      filter: contrast(110%) blur(1.5px);
      object-fit: cover;
    }
  }

  &__info {
    padding: 0 100px;
  }
}
